fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
pydantic[email]
requests
beautifulsoup4
langchain-text-splitters
langchain-community
sentence-transformers
chromadb
Flask
requests
beautifulsoup4
lxml
gunicorn
Werkzeug
